#contact-form{
    margin: 0 20rem;
}
#navfr{
    background-color: #91bb8d !important;
  }
  #submitButton{
    background-color: #91bb8d !important;
  }
  #brand{
    position: absolute;
    left: 25px;
}