body{
    overflow: hidden;
}
#contact-form{
    margin: 0 20rem;
}
#navfr{
    background-color: #91bb8d !important;
}
#brand{
    position: absolute;
    left: 25px;
}
#banner{
    position: absolute;
    top: 6%;
    z-index: -1;
    
}
#mission{
    color: white;
    margin: 10% 20%;
    text-align: center;
}
