html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
#contact-form{
    margin: 0 20rem;
}
#navfr{
    background-color: #91bb8d !important;
}
#brand{
    position: absolute;
    left: 25px;
}
#banner{
    position: absolute;
    top: 6%;
    z-index: -1;
    filter: brightness(0.6);
}
#mission{
    color: white;
    margin: 10% 20%;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
}
#hero-wrapper{
    margin-top: 26%;
}
#row-2{
    margin-top: 15%;
}
@media only screen and (max-width: 768px){
    #banner{
        width: 1400px;
        padding-right: 900px;
        height: 50%;
    }
    #mission{
        font-size: 50px;
    }

}